<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.InventoryMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.Inventory">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="whid" column="Whid" jdbcType="BIGINT"/>
            <result property="locationid" column="LocationId" jdbcType="BIGINT"/>
            <result property="pallet" column="Pallet" jdbcType="VARCHAR"/>
            <result property="allocatedsmallunitquantity" column="AllocatedSmallUnitQuantity" jdbcType="DECIMAL"/>
            <result property="allocatedpackagequantity" column="AllocatedPackageQuantity" jdbcType="DECIMAL"/>
            <result property="qcstatus" column="QCStatus" jdbcType="INTEGER"/>
            <result property="xstatus" column="XStatus" jdbcType="INTEGER"/>
            <result property="islocked" column="IsLocked" jdbcType="BIT"/>
            <result property="issealed" column="IsSealed" jdbcType="BIT"/>
            <result property="isscattered" column="IsScattered" jdbcType="BIT"/>
            <result property="isexpired" column="IsExpired" jdbcType="BIT"/>
            <result property="comments" column="Comments" jdbcType="VARCHAR"/>
            <result property="weight" column="Weight" jdbcType="DECIMAL"/>
            <result property="length" column="Length" jdbcType="DECIMAL"/>
            <result property="width" column="Width" jdbcType="DECIMAL"/>
            <result property="height" column="Height" jdbcType="DECIMAL"/>
            <result property="str1" column="Str1" jdbcType="VARCHAR"/>
            <result property="str2" column="Str2" jdbcType="VARCHAR"/>
            <result property="str3" column="Str3" jdbcType="VARCHAR"/>
            <result property="str4" column="Str4" jdbcType="VARCHAR"/>
            <result property="str5" column="Str5" jdbcType="VARCHAR"/>
            <result property="creatorid" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorname" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastmodifierid" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastmodifiername" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationtime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastmodificationtime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="packagequantity" column="PackageQuantity" jdbcType="DECIMAL"/>
            <result property="smallunitquantity" column="SmallUnitQuantity" jdbcType="DECIMAL"/>
            <result property="levelcount" column="LevelCount" jdbcType="INTEGER"/>
            <result property="conveyorcode" column="ConveyorCode" jdbcType="VARCHAR"/>
            <result property="applyorordercode" column="ApplyOrOrderCode" jdbcType="VARCHAR"/>
            <result property="orginagvid" column="OrginAGVID" jdbcType="INTEGER"/>
            <result property="orginlocationcode" column="OrginLocationCode" jdbcType="VARCHAR"/>
            <result property="pallettype" column="PalletType" jdbcType="VARCHAR"/>
            <result property="volume" column="Volume" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,Whid,LocationId,
        Pallet,AllocatedSmallUnitQuantity,AllocatedPackageQuantity,
        QCStatus,XStatus,IsLocked,
        IsSealed,IsScattered,IsExpired,
        Comments,Weight,Length,
        Width,Height,Str1,
        Str2,Str3,Str4,
        Str5,CreatorId,CreatorName,
        LastModifierId,LastModifierName,CreationTime,
        LastModificationTime,PackageQuantity,SmallUnitQuantity,
        LevelCount,ConveyorCode,ApplyOrOrderCode,
        OrginAGVID,OrginLocationCode,PalletType,
        Volume
    </sql>
</mapper>
