<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.InventoryItemMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.InventoryItem">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="inventoryid" column="InventoryId" jdbcType="BIGINT"/>
            <result property="materialid" column="MaterialId" jdbcType="BIGINT"/>
            <result property="packageunitid" column="PackageUnitId" jdbcType="BIGINT"/>
            <result property="smallunitquantity" column="SmallUnitQuantity" jdbcType="DECIMAL"/>
            <result property="packagequantity" column="PackageQuantity" jdbcType="DECIMAL"/>
            <result property="allocatedsmallunitquantity" column="AllocatedSmallUnitQuantity" jdbcType="DECIMAL"/>
            <result property="allocatedpackagequantity" column="AllocatedPackageQuantity" jdbcType="DECIMAL"/>
            <result property="qcstatus" column="QCStatus" jdbcType="INTEGER"/>
            <result property="xstatus" column="XStatus" jdbcType="INTEGER"/>
            <result property="islocked" column="IsLocked" jdbcType="BIT"/>
            <result property="issealed" column="IsSealed" jdbcType="BIT"/>
            <result property="isscattered" column="IsScattered" jdbcType="BIT"/>
            <result property="isexpired" column="IsExpired" jdbcType="BIT"/>
            <result property="expiredtime" column="ExpiredTime" jdbcType="BIGINT"/>
            <result property="comments" column="Comments" jdbcType="VARCHAR"/>
            <result property="str1" column="Str1" jdbcType="VARCHAR"/>
            <result property="str2" column="Str2" jdbcType="VARCHAR"/>
            <result property="str3" column="Str3" jdbcType="VARCHAR"/>
            <result property="str4" column="Str4" jdbcType="VARCHAR"/>
            <result property="str5" column="Str5" jdbcType="VARCHAR"/>
            <result property="creatorid" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorname" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastmodifierid" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastmodifiername" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationtime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastmodificationtime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="organiztionid" column="OrganiztionId" jdbcType="BIGINT"/>
            <result property="organiztionsupplierid" column="OrganiztionSupplierId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,InventoryId,MaterialId,
        PackageUnitId,SmallUnitQuantity,PackageQuantity,
        AllocatedSmallUnitQuantity,AllocatedPackageQuantity,QCStatus,
        XStatus,IsLocked,IsSealed,
        IsScattered,IsExpired,ExpiredTime,
        Comments,Str1,Str2,
        Str3,Str4,Str5,
        CreatorId,CreatorName,LastModifierId,
        LastModifierName,CreationTime,LastModificationTime,
        OrganiztionId,OrganiztionSupplierId
    </sql>
</mapper>
