<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.com.gses.mapper.ShipPickOrderItemArchievedMapper">

    <resultMap id="BaseResultMap" type="gs.com.gses.model.entity.ShipPickOrderItemArchieved">
            <id property="id" column="Id" jdbcType="BIGINT"/>
            <result property="shippickorderarchievedid" column="ShipPickOrderArchievedId" jdbcType="BIGINT"/>
            <result property="shiporderitemarchievedid" column="ShipOrderItemArchievedId" jdbcType="BIGINT"/>
            <result property="creatorid" column="CreatorId" jdbcType="OTHER"/>
            <result property="creatorname" column="CreatorName" jdbcType="VARCHAR"/>
            <result property="lastmodifierid" column="LastModifierId" jdbcType="OTHER"/>
            <result property="lastmodifiername" column="LastModifierName" jdbcType="VARCHAR"/>
            <result property="creationtime" column="CreationTime" jdbcType="BIGINT"/>
            <result property="lastmodificationtime" column="LastModificationTime" jdbcType="BIGINT"/>
            <result property="planpkgquantity" column="PlanPkgQuantity" jdbcType="DECIMAL"/>
            <result property="allocatedpkgquantity" column="AllocatedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="movedpkgquantity" column="MovedPkgQuantity" jdbcType="DECIMAL"/>
            <result property="fromlocid" column="FromLocId" jdbcType="BIGINT"/>
            <result property="fromloccode" column="FromLocCode" jdbcType="VARCHAR"/>
            <result property="tolocid" column="ToLocId" jdbcType="BIGINT"/>
            <result property="toloccode" column="ToLocCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,ShipPickOrderArchievedId,ShipOrderItemArchievedId,
        CreatorId,CreatorName,LastModifierId,
        LastModifierName,CreationTime,LastModificationTime,
        PlanPkgQuantity,AllocatedPkgQuantity,MovedPkgQuantity,
        FromLocId,FromLocCode,ToLocId,
        ToLocCode
    </sql>
</mapper>
